body {
  font-family: "Jaldi", sans-serif;
  height: 2000px;
  color: white;
  background-color: black;
  transition: background-color 1s ease;
}

h2 {
  display: flex;
  flex-direction: column;
}

.button_audio {
  height: 40px;
  margin-top: 5px;
  margin-right: 15px;
  border-radius: 20px;
  padding: 13px;
}

.audio_container {
  margin-left: 20px;
  padding: 10px;
}

.roomButtons {
  display: flex;
  flex-direction: row;
  float: left;
  margin: 50px 20px;
  padding: 10px;
}

.lightButtons {
  display: flex;
  flex-direction: row;
  float: right;
  margin: 500px 20px;
  padding: 10px;
}

.fogButtons {
  display: flex;
  flex-direction: row;
  float: left;
  margin: 1000px 20px;
  padding: 10px;
}

.project_scroll {
  font-size: 72px;
}

canvas {
  display: flex;
  flex-direction: column;
  margin: 10% 28%;
  position: fixed;
}
