.marquee {
 margin: 0;
 line-height: 50px;
 text-align: center;
 -moz-animation: scroll 0.5s linear infinite;
 -webkit-animation: scroll 0.1s linear infinite;
 animation: scroll 0.1s linear infinite;
}

header {
  color: #BDC3C7;
  font-family: "Oxygen Mono";
  line-height: 2;
  font-size: 72px
}

.scroll-right {
  font-size: 100px;
}

a:link {
  color: #BDC3C7;
}

a:visited {
  color: #BDC3C7;
}

a:hover {
  color: #FFFF00;
}
