ul {
  color: #BDC3C7;
  font-family: "Oxygen Mono";
  font-size: 72px;
  max-width: 100%;
  line-height: 2;
}

a:link {
  color: #BDC3C7;
}

a:visited {
  color: #BDC3C7;
}

a:hover {
  color: #FFFF00;
}
