* {
  font-family: "Jaldi", sans-serif;
  color: white;
}

@viewport {
  width: device-width;
}

@media screen and (min-width: 320px) and (max-width: 640px) {
  #navlist li {
    clear: both;
    display: block;
  }

  section.slideshow img {
    transform: rotate(270deg) scale(2,2);
    margin: 10em 2em 2em 0em;
  }
}

#navlist li {
  list-style-type: none;
  margin-left: 0px;
  padding: 0px;
  z-index: 2;
  position: relative;
}

li a {
  color: #bdc3c7;
  z-index: 2;
}

li a:hover {
  color: #00ff00;
}

.left {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    align-items: left;
    z-index: 2;
}

.title {
  writing-mode: vertical-rl;
  text-orientation: upright;
  font-size: 30px;
  font-weight: 700;
}

.button {
  float: right;
  margin-right: 15px;
  margin-top: 20px;
  border-radius: 8px;
  background-color: black;
  color: white;s
  padding: 5px;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.midcontent {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.descrip {
  z-index: 2;
  font-size: 16px;
  background-color: black;
  padding: 15px;
  width: 50%;
  display: inline-block;
}

.topvideo {
  z-index: 2;
  padding: 10px;
  /* width: 50%; */
  /* min-width: 320px; */
}

section.slideshow {
  width: auto;
  height: auto;
  cursor: pointer;
  position: relative;
}

section.slideshow img {
  position: absolute;
  /* top: 10vh; */
  left: 0;
  max-width: 100%;
  height: auto;
  z-index: 0;
}

section.slideshow img:first-child {
  z-index: 1;
}
