@viewport {
  width: device-width;
}

@media screen and (min-width: 320px) and (max-width: 640px) and (orientation: portrait) {
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  color: rgba(212, 212, 212);
  /* font-family: "Hammersmith One", sans-serif; */
  font-family: "Forum", cursive;
}

body {
  background-color: #0d0d0d;
  margin-top: 0;
  margin-left: 0;
  position: absolute;
  z-index: 99;
  max-width: 100vw;
}

#container {
  top: 0;
  left: 0;
  position: fixed;
  z-index: -2;
  display: block;
}

#anim-container {
  display: flex;
  align-items: start;
  float: right;
  height: 4em;
}

.anim-project-container {
  height: 7em;
  width: 7em;
}

.sidetext {
  font-size: 2.5em;
  float: right;
  width: 40%;
  height: 50%;
  text-align: right;
  margin-top: 1rem;
  margin-right: 0.5rem;
  overflow-y: hidden;
}

.sidetext a {
  background-color: transparent;
  display: inline-block;
  /* transform: skewX(-8deg); */
}

.sidetext a:hover {
  color: rgba(177, 177, 177, 0);
  cursor: cell;
}

.sidetext span:hover {
  color: rgba(177, 177, 177, 0);
  cursor: cell;
}

button {
  display: none;
  margin: 15rem 20rem;
  background-color: black;
  padding: 1rem;
  border-radius: 2rem;
  border: black 2px solid;
}

.hover-word {
  z-index: 10;
  text-decoration: none;
  cursor: cell;
  transform: skewX(-8deg);
}

#projects {
  margin-top: 2em;
  font-size: 1rem;
  color: lightgrey;
  display: none;
  color: white;
}

#projects:hover {
  color: grey;
}

.contact {
  position: fixed;
  bottom: 0;
  margin-left: 0.5em;
  margin-bottom: 0.3em;
  font-size: 1em;
  float: right;
  color: rgba(177, 177, 177, 0.6);
}

.contact a {
  color: rgba(177, 177, 177, 0.6);
  text-decoration: none;
}

@media (min-width: 520px) {
  .anim-project-container {
    margin-left: 6em;
  }
}

@media (min-width: 768px) {
  .anim-project-container {
    margin-left: 10em;
  }
}

@media (min-width: 875px) {
  .anim-project-container {
    margin-left: 6em;
  }
}

@media(min-width: 1150px) {
  .anim-project-container {
    margin-left: 10em;
  }
}

@media(min-width: 1300px) {
  .anim-project-container {
    margin-left: 13em;
  }
}

@media all and (orientation: portrait) {
  .sidetext {
    width: 80%;
  }

button {
    position: fixed;
    display: none;
    margin-top: 60%;
    margin-left: 1em;
  }
  #projects {
    display: block;
  }
}
