@viewport {
  width: device-width;
}

@media screen and (min-width:320px) and (max-width:640px) {
  #navlist li {
    clear: both;
    display: block;
  }
 section.slideshow img {
   transform: rotate(270deg) scale(2,2);
   margin: 10em 2em 2em 0em;
 }
}


*, *:before, *:after {
  box-sizing: border-box;
}

#navlist li {
  font-family: "Oxygen Mono";
  display: inline-block;
  list-style-type: none;
  margin-left: 0px;
  padding: 0px;
  z-index: 2;
  position: relative;
}

li a {
  color: #BDC3C7;
    z-index: 2;
    padding: 10px;
}

li a:hover {
  color: #FFFFFF;
}

li.blog {
  float: right;
  margin-right: 50px;
}

}
section.slideshow {
  width: auto;
  height: auto;
  cursor: pointer;
  position: relative;
}

section.slideshow img {
  position: absolute;
  top: 12vh;
  left: 0;
  max-width: 100%;
  height: auto;
  z-index: 0;
}

img.animated-gif {
  width: 100%;
  height: auto;
}

section.slideshow img:first-child {
  z-index: 1;
}
