@viewport {
  width: device-width;
}

@media screen and (min-width: 320px) and (max-width: 640px) and (orientation: portrait) {
  #navlist li {
    clear: both;
    display: block;
  }
  section.slideshow img {
    transform: rotate(270deg) scale(2, 2);
    margin: 10em 2em 2em 0em;
  }
}

* {
  color: white;
  /* font-family: "Hammersmith One", sans-serif; */
  font-family: "Forum", cursive;
}

body {
  background-color: rgba(0, 0, 0);
  top: 0;
  left: 0;
  position: absolute;
  z-index: 99;
}

/* canvas {
  position: fixed;
  pointer-events: none;
  z-index: -2;
  display: block;
} */

#container {
  top: 0;
  left: 0;
  position: fixed;
  z-index: -2;
  display: block;
}

.sidetext {
  color: white;
  background-color: transparent;
  font-size: 2.5em;
  float: right;
  width: 40%;
  text-align: right;
  margin: 3% 0% 3% 2%;
}

.sidetext a {
  background-color: transparent;
  display: inline-block;
}

.sidetext a:hover {
  color: rgba(177, 177, 177, 0);
  cursor: cell;
}

.sidetext span:hover {
  color: rgba(177, 177, 177, 0);
  cursor: cell;
}

#button {
  display: none;
  margin: 20% 25%;
  background-color: black;
  padding: 10px;
}

.folders {
  margin: 1.5% 1%;
  background-color: transparent;
  color: white;
  text-transform: uppercase;
  position: fixed;
  font-size: 2em;
}

.folders a {
  font-size: 1em;
}

.sideNavText {
  background-color: transparent;
  text-transform: uppercase;
  font-size: 0.6em;
}

.navlink {
  display: none;
}

#sideNav:hover {
  cursor: cell;
  display: inline;
  color: white;
}

#radio {
  z-index: 10;
  text-decoration: none;
  cursor: cell;
}
