#container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -3;
}

* {
  font-family: "Forum", cursive;
  color: rgb(194, 194, 194);
  overflow: hidden;
}

.button {
  display: flex;
  position: fixed;
  margin-top: 2.5%;
  margin-left: 87%;
  font-size: 1.3em;
  background-color: black;
  color: white;
  padding: 7px;
  /* height: 5%;
  width: 5%; */
}

#button_play {
  position: fixed;
  margin-top: 8%;
  min-width: 4%;
}

#button_mute {
  position: fixed;
  margin-top: 8%;
  min-width: 4%;
  display: none;
}

body {
  background-color: black;
}

.links {
  margin-left: 2%;
  width: 15%;
  cursor: cell;
}

h4 {
  font-size: 1.5em;
  line-height: 200%;
  margin-left: 2%;
  z-index: 2;
  text-transform: uppercase;
}

h4:hover {
  color: rgb(103, 167, 0);
}

.notesBox {
  position: absolute;
  display: none;
  z-index: 2;
  background-color: rgba(202, 202, 202, 0.5);
  width: 18%;
  height: 35%;
  margin-left: 2em;
}

.upperBox {
  background-color: rgb(184, 184, 184);
  width: 100%;
  height: 13%;
}

/* The Close Button */
.close {
  background-color: rgba(184, 184, 184, 0);
  color: rgb(121, 120, 120);
  float: right;
  margin-right: 1%;
  font-size: 3em;
  margin-top: -4%;
}

.close:hover,
.close:focus {
  color: white;
  text-decoration: none;
  cursor: cell;
}

.notesBox a {
  display: flex;
  margin-left: 1.5%;
  font-family: monospace;
  text-transform: lowercase;
  color: black;
  font-size: 1.2em;
  z-index: 3;
}

.notesBox a:hover {
  color: rgb(211, 255, 140);
}

.avLinks {
  position: fixed;
  display: none;
  margin-top: 1%;
}

.releasesLinks {
  position: fixed;
  display: none;
  margin-top: -12%;
}

.mixesLinks {
  position: fixed;
  display: none;
  margin-top: -14%;
}

.liveLinks {
  position: fixed;
  display: none;
  margin-top: -24%;
}

.bottom {
  margin-left: 2%;
  position: fixed;
  bottom: 0;
  margin-bottom: 1%;
  font-size: 1.2em;
  float: right;
  color: rgba(175, 174, 174, 0.6);
}

.bottom a {
  text-transform: lowercase;
  text-decoration: none;
  color: rgba(175, 174, 174, 0.6);
}

.bottom a:hover {
  color: white;
}

#startButton {
  position: fixed;
  font-size: 1.3em;
  background-color: black;
  /* bottom: 30%; */
  margin-left: 2%;
  z-index: 3;
}

#mute {
  position: fixed;
  font-size: 1.3em;
  background-color: black;

  margin-left: 3%;
  z-index: 3;
  display: none;
}

@media all and (orientation: portrait) {
  .container {
    z-index: -99;
  }

  .links {
    width: 80%;
  }

  .upperBox {
    height: 15%;
  }

  .notesBox {
    width: 30%;
    height: 40%;
    margin-left: 40%;
    margin-top: -40%;
  }

  .avLinks {
    margin-top: 3%;
  }

  .releasesLinks {
    margin-top: -30%;
  }

  .mixesLinks {
    margin-top: -85%;
  }

  .liveLinks {
    margin-top: -80%;
  }
}

@media all and (max-width: 800px) {
  .links {
    width: 100%;
  }
  .notesBox {
    width: 70%;
  }
  #startButton {
    margin-left: 3%;
  }

  .mixesLinks {
    margin-top: -17%;
  }
}
