@viewport {
  width: device-width;
}

header {
  color: #BDC3C7;
  font-family: "Oxygen Mono";
  line-height: 10px;
  width: 100%;
  top: auto;
}

div.box {
  width: 100%;
  height: 360px;
  border-radius: 5px;
}

div.wrapper {
  width: 640px;
  height: 360px;
  display: grid;
  grid-gap: 0px;
  grid-template-columns: 640px 640px;
  grid-auto-flow: row;
}

div.overlay {
  position: fixed;
  bottom: 0;
  background: rgb(0,0,0);
  background: rgba(0,0,0,0.5);
  color: #f1f1f1;
  width: 50%;
  transition: .5s ease;
  opacity: 0;
  color: white;
  font-size: 20px;
  padding: 0px;
  text-align: left;
  z-index: 1;
}

.box:hover .overlay {
  opacity: 1;
}

@media screen and (min-width:320px) and (max-width:640px) {
  div.wrapper {
    transform: scale(0.3);
    margin: -5em 0em 0em -14em;
  }
