@viewport {
  width: device-width;
}

@media screen and (min-width:320px) and (max-width:640px) {
  div.wrapper {
    transform: scale(0.3);
    margin: -5em 0em 0em -10em;
  }

div.box {
  width: 100%;
  height: 360px;
  border-radius: 5px;
}
div.wrapper {
  width: 640px;
  height: 360px;
  display: grid;
  grid-gap: 0px;
  grid-template-rows: repeat (6, 333px);
  grid-template-columns: 640px 640px;
  grid-auto-flow: row;
}
