@viewport {
  width: device-width;
}

header {
  color:white;
  font-family: monospace;
  line-height: 30px;
  width: 100%;
font-size: 20px;
  top: auto;
  background-color: lightblue;
}

div.box {
  width: 100%;
  height: 430px;
  border-radius: 7px;
}

div.wrapper {
  width: 640px;
  height: 360px;
  display: grid;
  grid-gap: 0px;
  grid-template-columns: 640px 640px;
  grid-auto-flow: row;
}

.description {
  font-family: monospace;
  color: rgb(37, 134, 167);
  font-size: 25px;
}
div.overlay {
  position: absolute;
  top: 1200px;
  background: rgba(0,0,0,0.5);
  width: 48%;
  transition: .5s ease;
  opacity: 0;
  color: white;
  font-size: 20px;
  padding: 10px;
  text-align: left;
  z-index: 1;
}

.box:hover .overlay {
  opacity: 1;
}

@media screen and (min-width:320px) and (max-width:640px) {
  div.wrapper {
    transform: scale(0.3);
    margin: -5em 0em 0em -14em;
  }
