header {
    font-family: "DejaVu Sans", "Bitstream Vera Sans", "Segoe UI", "Lucida Grande", Verdana, Tahoma, Arial, sans-serif;
    font-size: 12px;
    line-height: 2;
    position: relative;
    top: 50;
    left: 50%;
    transform: translate (-50%, -50%);
    z-index: 1;
    color: #000000;
    background-color: #FFFFFF;
}

@keyframes fadein {
  0% { opacity: 0;}
  10% { opacity: 1;}
}

img {
  max-width: 100%;
  height: auto;
  position: absolute;
  top: auto;
  left: auto;
  transform: translate(-50%, -50%) scale(2);
  animation: fadein 0.5s;
}

img:hover {
  z-index: 1;
}
